# Ignore node_modules directory
node_modules/

# Ignore YouTube folder as it contains API key
YouTube/

# Ignore log files
*.log

# Ignore .env file
.env

# Ignore PDF files
*.pdf

# Ignore MP4 files
*.mp4

# Ignore specific CSV files in MovieLens folder
MovieLens/genome-scores.csv
MovieLens/ratings.csv

# Optional: Ignore all CSV files in MovieLens folder
# MovieLens/*.csv

# Optional: Ignore entire MovieLens folder
# MovieLens/
